@model Car
@{

    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agency - Car Dealer</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href=".\css/site.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">CAR DEALER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link  text-warning" href="#services">Servizi</a></li>
                        <li class="nav-item"><a class="nav-link  text-warning" href="#classifica">Classifica</a></li>
                        <li class="nav-item"><a class="nav-link  text-warning" href="#portfolio">Auto</a></li>
                        
                        <li class="nav-item"><a class="nav-link  text-warning" href="#about">Percorso</a></li>
                        <li class="nav-item"><a class="nav-link  text-warning" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link  text-warning" href="#contact">Contatti</a></li>
                      
                        <input id="search_input" class="form-control mr-sm-2 me-lg-5" style="right" type="search" placeholder="Ricerca per brand o modello" aria-label="Search">
                    </ul>
                </div>
            </div>
            
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                
                <div class="masthead-subheading">Benvenuti nel nostro sito!</div>
                <div class="masthead-heading text-uppercase">Concessionario auto</div>

            </div>

        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Servizi</h2>
                    <h3 class="section-subheading text-muted">I nostri servizi</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Acquista auto</h4>
                        <p class="text-muted">Vuoi acquistare l'auto dei tuoi sogni? scegli tra le nostre disponibilità l'auto che desideri!</p>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("IndexAdmin" , "Car")">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                        <h4 class="my-3">Gestione amministrativa</h4>
                        <p class="text-muted">Inserisci , modifica , elimina e vedi i dettagli del parco auto!</p>
                    </div>
                    <div class="col-md-4">
                        
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-business-time fa-stack-1x fa-inverse"></i>
                        </span>
                        
                        <h4 class="my-3">Rifornisci</h4>
                        <p class="text-muted">Effettua a portata di click il rifornimento per l'auto selezionata!</p>
                    </div>
                </div>
            </div>
        </section>
         <!-- Classifica-->
         <section class="page-section bg-light" id="classifica">
            <div class="container">
                <h2 class="text-center section-heading text-uppercase">Classifica</h2>
                    <h3 class="text-center section-subheading text-muted">Le nostre auto piu vendute!</h3>
                <div id="div-car-ranking-top" class="text-center">
                 <table  class="table table-white">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Numero Vendite</th>
                    <th scope="col">Immagine</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Modello</th>
                </tr>
                </thead>
                  <tbody id="car-div-ranking"> 
    
                  </tbody>
                 </table>   
                </div>
                
            </div>
        </section>
        <!-- Portfolio Grid-->
       
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <h2 class="text-center section-heading text-uppercase">Parco auto</h2>
                    <h3 class="text-center section-subheading text-muted">Le nostre auto!</h3>
                
                <div id="div-car" class="row text-center">
                    
                </div>
                
                
            </>
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Percorso</h2>
                    <h3 class="section-subheading text-muted">Il nostro percorso!</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>26 maggio</h4>
                                <h4 class="subheading ">Presentazione project work.</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Il 26 maggio ci è stata assegnata la traccia del project work, rivenditore auto !</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>30 maggio</h4>
                                <h4 class="subheading">Primo checkpoint!</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Il 30 maggio la prima revisione , completate le crud in largo anticipo , abbiamo cominciato con le API.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>1 Giugno</h4>
                                <h4 class="subheading">Secondo checkpoint!</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Terminate le API in Get, ci siamo addentrati nella gestione lato POST delle API.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>7 Giugno</h4>
                                <h4 class="subheading">Ultimo checkpoint!</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Terminata la gestione totale della nostra app, abbiamo cominciato il miglioramento della user experience!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Progetto
                                <br />
                                Terminato
                                
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Il nostro Team</h2>
                    <h3 class="section-subheading text-muted">Composizione del team per il project work finale.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src=".\css/img/unnamed.jpg" alt="..." />
                            <h4>Emiliano Rossi</h4>
                            
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src=".\css/img/simo.jpg" alt="..." />
                            <h4>Simone Serpi</h4>
                            
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src=".\css/img/Giuseppe.jpg" alt="..." />
                            <h4>Giuseppe Russo</h4>
                            
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src=".\css/img/mondello.png" alt="..." />
                            <h4>Simone Mondello</h4>
                            
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src=".\css/img/Erika.jpg" alt="..." />
                            <h4>Erika Ancora</h4>
                            
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src=".\css/img/alberto.jpg" alt="..." />
                            <h4>Alberto Vecchiatti</h4>
                           
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Descrizione dettagliata del team che ha realizzato questo progetto per la web app car dealer!</p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://seeklogo.com/images/1/net-logo-681E247422-seeklogo.com.png" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Javascript_badge.svg/710px-Javascript_badge.svg.png" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="https://www.formazionegratuita.com/imagecache/files/teachers/LOGO_VERDE_2396c0.png" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
        
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; WebApp-CarDealer 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->

        
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        @section Scripts {
            
        <script type="text/javascript">
            
            ranking();

            function ranking(){
                document.getElementById('car-div-ranking').innerHTML = '';

                axios.get('/api/CarApi/RankingCar', {
                    
                }).then((result) => {
                    // Codice che verrà eseguito quando arrivano i dati dalla mia web api
                    console.log("Ho ricevuto le auto, evviva!");

                    
                        var count = 1;

                        result.data.forEach(cars => {
                            document.getElementById('car-div-ranking').innerHTML += 
                                
                           
                                `

                                            <tr>
                                                <td>${count++}</td>
                                                <td>${cars.carSell}</td>
                                                <td><img width="200px" src="${cars.imageCar}"></td>
                                                <td>${cars.carBrand}</td>
                                                <td>${cars.carModel}</td>
                                                
                                            </tr>
                                           
                                `
                              
                        });
                        
                        
                  
                    
                }

                ).catch((error) => {
                    console.log("C'è stato un errore: " + error);
                });
            }
            document.getElementById("search_input").addEventListener('keyup', searchItems);

            searchItems();
            
            function searchItems(){
                var inputText = document.getElementById('search_input').value;
                loadCars(inputText);
            }
            
            function loadCars(searchParameter){
                document.getElementById('div-car').innerHTML = '';

                axios.get('/api/CarApi/Get', {
                    params : {
                        search : searchParameter
                    }
                }).then((result) => {
                    // Codice che verrà eseguito quando arrivano i dati dalla mia web api
                    console.log("Ho ricevuto le auto, evviva!");

                    

                        result.data.forEach(cars => {
                            document.getElementById('div-car').innerHTML += 
                                `
                                <div class="col-4">
                                    <div class="portfolio-item inline">
                                    
                                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                            <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><p>${cars.price}€</></i></div>
                                        </div>
                                            <img class="img-fluid" src="${cars.image}" alt="..." />
                                            </a>
                                            <div class="portfolio-caption">
                                                <div class="portfolio-caption-heading">${cars.brandCar} ${cars.modelCar}</div>
                                                
                                                <a href="https://localhost:7202/User/DetailsUser/${cars.id}">
                                                <button type="button" class="btn btn-primary">Dettagli</button>
                                                </a>
                                                <button onclick="like(${cars.id})" type="button" id="buttonLike${cars.id}" class="btn btn-danger">Mi piace</button>
                                                <br>
                                                    <span class="text-center" id="likeText${cars.id}">${cars.like}</span><span>&hearts;</span>
                                                    
                                            </div>
                                    </div>
                                 </div>
                                
                            

                                `
                                  
                        });
                        
                    
                  
                    
                }

                ).catch((error) => {
                    console.log("C'è stato un errore: " + error);
                });
            }
            

            function like(carId) {
                
                axios.post('/api/CarApi/Post', {
                    Id : carId
                    
                    
                }).then(result =>{
                    let value = document.getElementById('likeText' +carId).innerHTML;
                    value++;
                    console.log(value);
                    
                    document.getElementById('likeText' +carId).innerHTML = value;
                    document.getElementById('buttonLike' + carId).setAttribute('disabled', '');
                    
                    
                    console.log(button);
                }).catch(error => {
                        console.log("C'è stato un errore: " + error);
                    })
                
                
                
            }
    
        </script>
    }
    </body>
</html>