@model Buy

<body class="bg-white" style="position:relative; height: 100%; background-size:cover; box-shadow:inset 0 -1px 5px;">
    <main>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class = "row mt-3 justify-content-center">
                    <div class ="col-4 justify-content-center mb-5">
                        
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <h1>Acquista un auto</h1>
                    
                </div>
                <div class="d-flex align-items-center">
                              
                    <h2>Compila il Form</h2>
                </div>
                <form action="@Url.Action("UserBuy", "User")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-3 mb-3">
                        <h5>Nome utente:</h5>
                        <input asp-for="NameUser" class="d-block w-100 text-black" />
                        <span asp-validation-for="NameUser" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-5">
                        <h5>Quantità:</h5>
                        <input asp-for="QuantityToBuy" class="d-block w-100" />
                        <span asp-validation-for="QuantityToBuy" class="text-danger"></span>
                    </div>
                    
                    
                    <div class="text-start">
                        <a href="@Url.Action("RecapBuy" , "User")">
                            <input type="submit" class="btn btn-small btn-primary" value="Acquista">
                        </a>
                    </div>
                

                </form>
            </div>
        </div>
    </div>
    </main>
</body>
