<!DOCTYPE html>
<html lang="en">
<head>
   </head> 
<body>
    <header >
        
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <footer style="background-color: rgba(0, 0, 0, 0.2);">

        


    </footer>

    

    

                
    @RenderSection("Scripts" , required:false)
</body>
</html>
