
<body>
    

    
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    

 
    

    

                
    @RenderSection("Scripts" , required:false)
</body>

