@model CarsCategories

<body class="bg-white" style="position:relative; height: 100%; background-size:cover; box-shadow:inset 0 -1px 5px;">
    <main>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class = "row mt-3 justify-content-center">
                    <div class ="col-4 justify-content-center mb-5">
                        
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <h1>Inserisci una nuova macchina</h1>
                    
                </div>
                <div class="d-flex align-items-center">
                              
                    <h2>Compila il Form</h2>
                </div>
                <form action="@Url.Action("Create", "Car")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group col-md-6">
                        <h5>Immagine:</h5>
                        <input asp-for="car.Image" class="d-block w-100 text-black" />
                        <span asp-validation-for="car.Image" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <h5>Marca:</h5>
                        <input asp-for="car.BrandCar" class="d-block w-100" />
                        <span asp-validation-for="car.BrandCar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Modello:</h5>
                        <input asp-for="car.ModelCar" class="d-block w-100" />
                        <span asp-validation-for="car.ModelCar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Quantità:</h5>
                        <input asp-for="car.Quantity" class="d-block w-100" />
                        <span asp-validation-for="car.Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <h5>Descrizione:</h5>
                        <textarea asp-for="car.Description" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="car.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Prezzo:</h5>
                        <input asp-for="car.Price"  class="d-block w-100" />
                        <span asp-validation-for="car.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <h5>Chilometri:</h5>
                        <input asp-for="car.Kilometers" rows="10" class="d-block w-100"/>
                        <span asp-validation-for="car.Kilometers" class="text-danger"></span>
                    </div>
                    <strong>Categoria:</strong>
                    <select asp-for ="car.CategoryId" class="form-select" aria-label="Default select example" >
                        <option selected>Seleziona una categoria</option>
                    @foreach(Category categoria in Model.categories)
                    {
                            
                        <option value="@categoria.Id">@categoria.NameCategory</option>

                    }
                    </select>
                    <br />
                    <div class="text-start">
                        <input type="submit" class="btn btn-small btn-primary" value="Salva">
                    </div>
                

                </form>
            </div>
        </div>
    </div>
    </main>
</body>