@model Car

<body class="bg-primary" style="position:relative; height: 100%; background: url('https://www.weddingchianti.it/wp-content/uploads/2018/05/wedding-matrimonio-mongolfiere-toscana-chianti-sposarsi-in-mongolfiera.jpg') no-repeat ; background-size:cover; box-shadow:inset 0 -1px 5px;">
    <main>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class = "row mt-3 justify-content-center">
                    <div class ="col-4 justify-content-center mb-5">
                        
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <h1>Inserisci una nuova macchina</h1>
                    
                </div>
                <div class="d-flex align-items-center">
                              
                    <h2>Compila il Form</h2>
                </div>
                <form action="@Url.Action("Create", "Car")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="col-3 mb-3">
                        <h5>Immagine:</h5>
                        <input asp-for="Image" class="d-block w-100 text-black" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-5">
                        <h5>Marca:</h5>
                        <input asp-for="BrandCar" class="d-block w-100" />
                        <span asp-validation-for="BrandCar" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Modello:</h5>
                        <input asp-for="ModelCar" class="d-block w-100" />
                        <span asp-validation-for="ModelCar" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Descrizione:</h5>
                        <textarea asp-for="Description" rows="10" class="d-block w-100"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Prezzo:</h5>
                        <textarea asp-for="Price" rows="10" class="d-block w-100"></textarea>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-3 mb-3">
                        <h5>Chilometri:</h5>
                        <textarea asp-for="Kilometers" rows="10" class="d-block w-100"></textarea>
                        <span asp-validation-for="Kilometers" class="text-danger"></span>
                    </div>
                    <div class="text-start">
                        <input type="submit" class="btn btn-small btn-primary" value="Salva">
                    </div>
                

                </form>
            </div>
        </div>
    </div>
    </main>
</body>