@model List<CarsAvailable>
 

<table class="table post-list-table">
    <thead>
        <tr>
            <th>ID auto</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Quantità</th>
            
        </tr>
    </thead>
    <tbody>
        @{

            

        }
            @foreach(CarsAvailable carsAvailable in Model){
                <tr>
                <td class="id">@carsAvailable.CarId</td>
                <td class="brand">@carsAvailable.BrandCar</td>
                <td class="model">@carsAvailable.ModelCar</td>
                <td class="quantity">@carsAvailable.QuantityAvailable</td>
                </tr>
            }
            
            
              
            
        </tbody>
</table>