@model Refile 
 

<table class="table post-list-table">
    <thead>
        <tr>
            <th>ID auto</th>
            <th>Data</th>
            <th>Prezzo</th>
            <th>Quantità</th>
            
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="id">@Model.CarId</td>
            <td class="quantity">@Model.Quantity</td>
                
        </tr>

    </tbody>
</table>